[user]
    name = Grant Forsythe
    email = grantwforsythe@gmail.com
    username = grantwforsythe
[core]
    editor = vim
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[alias]
    undo = reset HEAD~
    unstage = reset HEAD --
    last = log -1 HEAD
    prune = fetch --prune
    logp = log --oneline --graph --decorate --all
    ammend = commit --amend
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[github]
    user = grantwforsythe
[init]
    defaultBranch = main
[submodule]
    recurse = true
